@import 'core/variables';
@import 'core/reset'; /*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

.header {
  &__banner {
    background-image: url('../images/banner3.png');
    background-position: center;
    min-height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__form {
    background-color: $color_white;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0px;
    &--searchInput {
      border: 2px solid $color_green;
      width: 60%;
    }
    &--btn {
      background-color: $color_green;
      color: $color_white;
      padding: 10px 20px;
      font-size: 18px;
      border: none;
    }
  }
}
.main {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  &__sectionFav {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      color: $color_dark_green;
      text-align: center;
      margin-bottom: 10px;
    }
    &--deleteBtn {
      background-color: $color_green;
      color: $color_white;
      padding: 5px 10px;
      font-size: 16px;
      border: none;
    }
    &--card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 230px;
      gap: 10px;
      padding: 20px;
      margin: 20px 0px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &--icon {
        color: $color_dark_green;
        padding: 15px;
        border: 1px solid $color_dark_green;
      }
      &--name {
        font-weight: 700;
        font-size: 22px;
      }
      &--status {
        font-size: 18px;
      }
    }
  }
  &__sectionCharact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      color: $color_dark_green;
      text-align: center;
    }
    &--card {
      width: 230px;
      padding: 20px;
      margin: 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      &--name {
        font-weight: 700;
        font-size: 22px;
      }
      &--status {
        font-size: 18px;
      }
    }
  }
}
.selected {
  background-color: $color_selected;
}
.footer {
  background-color: $color_dark_green;
  color: $color_white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  &__text {
    font-weight: 700;
  }
}
