/*@import 'core/variables';
/*@import 'core/reset';/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

.main {
  display: flex;
  justify-content: space-around;
}
.selected {
  background-color: #c6801f;
}
